*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    line-height: 1;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: white;
    font-family: Montserrat, sans-serif;
}
body{
    background-color: #2c2c2c;
}
.main{
    height: 100vh;
}
.main__container{
    display: grid;
    grid-template-areas: "aside content";
    grid-template-columns: 1fr 4fr;
    height: 100%;
}
._container{
    padding-left: 1%;
    margin: 0 auto;
}